<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Books</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>

<div class="container">

    <h1>Books</h1>

    <p>
        <a href="/book/new"class="btn btn-primary" role="button">Create</a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.title}">Test</td>
            <td th:text="${book.author}">Test1</td>
            <td>
                <a href="/bookEdit/id" th:href="${'/bookEdit/' + book.id}"class="btn btn-info" role="button">Edit</a>
                <a href="/bookDelete/id" th:href="${'/bookDelete/' + book.id}"class="btn btn-danger" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>